<detalle-cliente *ngIf="clienteSeleccionado" [cliente] = "clienteSeleccionado"></detalle-cliente>

  <div class="card border-primary mb-3">
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Clientes</h5>
    <div class="my-2 text-left">
      <!-- Botón para crear clientes, el routerLink permite llamar a otro componente/vista  -->
    <button *ngIf="authService.hasRole('ROLE_ADMIN')" type="button" name="button" class="btn btn-rounded btn-primary" [routerLink]="['/clientes/form']" >Crear Cliente</button>
    </div>
<table class="table table-bordered table-striped" *ngIf="clientes?.length>0">
  <thead>
  <tr>
    <th *ngIf="authService.hasRole('ROLE_USER')">id</th>
    <th>nombre</th>
    <th>apellido</th>
    <th>email</th>
    <th>fecha</th>
    <th *ngIf="authService.hasRole('ROLE_ADMIN')">editar</th>
    <th *ngIf="authService.hasRole('ROLE_ADMIN')">eliminar</th>
  </tr>
  </thead>
<tbody>
  <tr *ngFor="let cliente of clientes">
  <!--  <td><button type="button" [routerLink]="['/clientes/ver', cliente.id]" class="btn btn-success" name="button">{{cliente.id}}</button></td> sde transforma el detalle cliente en modal -->
  <!-- <td><button type="button"  class="btn btn-success" (click)="abrirModal(cliente);" name="button">{{cliente.id}}</button></td> -->
    <td *ngIf="authService.hasRole('ROLE_USER')">
      <img   *ngIf="cliente?.foto"  (click)="abrirModal(cliente);"
      src="http://localhost:8080/api/uploads/img/{{cliente.foto}}" alt="{{cliente.foto}}" class="img-thumbnail rounded"
      style="width:64px; cursor:pointer;">
      <img   *ngIf="!cliente?.foto" (click)="abrirModal(cliente);" alt="Sin foto"
      src="http://localhost:8080/images/no-usuario.png" class="img-thumbnail rounded"
      style="width:64px; cursor:pointer;">


    </td>
    <td>{{cliente.nombre}}</td>
    <td>{{cliente.apellido | uppercase}}</td>
    <td>{{cliente.email}}</td>
    <td>{{cliente.createAt}}</td>
    <td *ngIf="authService.hasRole('ROLE_ADMIN')">
      <button type="button" name="button" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary">Editar</button>
    </td>
    <td *ngIf="authService.hasRole('ROLE_ADMIN')">
      <button type="button" name="button" (click)='delete(cliente)'  class="btn btn-danger btn-sm">Eliminar</button>
    </td>
  </tr>
</tbody>
</table>
<paginator-nav *ngIf="paginador" [paginador] = "paginador"></paginator-nav>  <!-- el if es como condicional para mostrar el paginador cuando exista el cliente.component. Uno se debe crear primero que el otro-->
<div *ngIf="clientes?.length==0" class="alert alert-info">
No hay registros en la base de datos
</div>

  </div>
</div>
